body {
    margin-top: 10%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid #838383;
    padding: 10px;
    margin: 10px;
    text-align: center;
    position: relative;
}

.icon {
    width: 50px;
    height: 50px;
    z-index: 1;
    border: 2px solid #838383;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5aa09;
    text-align: center;
}

.card p {
    color: #838383;
}

.btn {
    border: solid #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    background: white;
    cursor: pointer;
}